/*
!.gitignore
!analysis_options.yaml
!pubspec.yaml
!.github/
!lib/
!web/
!sql/
!specs/

# Flutter ignores
.dart_tool/
.packages
build/
*.iml
.idea/
.vscode/
*.lock
*.log
*.swp
*.swo
android/.gradle/
android/app/build/
android/local.properties
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
build/web/
macos/Pods/
macos/.symlinks/
windows/runner/Debug/
windows/runner/Release/
windows/flutter/ephemeral/
linux/flutter/ephemeral/
.env
.env.local
*.env
lib/config/supabase_config.dart
